.mManage {
  background: #f3f5f7;
}

.mManage .mContent {
  position: relative;
  width: 1150px;
  margin: 0 auto;
  padding: 30px 0;
}

.mManage .mContent::after {
  display: block;
  clear: both;
  content: "";
}
