.sign_form {
  position: relative;
  width: 440px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.sign_form h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.sign_form div {
  width: 440px;
  height: 61px;
  padding: 6px 0 0 7px;
  margin-top: 1px;
  background: url(https://ssl.nx.com/S2/p3/login/2016/set_page.gif) no-repeat 0
    0;
  margin-top: 1px;
}

.sign_form div input {
  width: 402px;
  padding: 12px 0 9px 10px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
  outline: 0;
  text-indent: 2px;
}

.sign_form div input::placeholder {
  font-weight: normal;
}

.sign_form .btn_sign {
  width: 440px;
  height: 58px;
  color: #fff;
  font-size: 18px;
  border: 1px solid #4160b8;
  background-color: #486bcd;
}

.sign_menu {
  position: relative;
  padding: 25px 0 37px;
}

.sign_menu span {
  color: #d9d9da;
}

.sign_menu a {
  padding: 0 5px;
  color: #777;
  text-decoration: none;
}

.sign_menu a:first-child {
  padding-left: 0;
}
