.page_head {
  height: 37px;
  margin-bottom: 3px;
  padding-top: 4px;
}

.page_head h2 {
  margin: -2px 10px 0 3px;
}

.page_head h2 a {
  color: #3c4790;
}

/* .page_head h2 a span {
  color: lightgray;
  font-size: 13px;
  position: relative;
  top: -3px;
} */
