.wrap_set {
  background: #fff;
  border-radius: 1px;
  border: 1px solid #e0e5ee;
  padding: 25px 29px 0;
}

.wrap_set .st_desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.wrap_set .desc {
  font-size: 13px;
  color: #808080;
  margin-top: 4px;
}

.wrap_set .set_order {
  margin: 21px 0 30px;
  padding: 8px;
  border-radius: 1px;
  background: #e7edf3;
}

.bundle_item:last-child {
  margin-bottom: 7px;
}

.set_order .item_order {
  padding: 0 19px;
  height: 52px;
  /* margin-bottom: -1px; */
  border: 1px solid #e0e5ee;
  font-size: 16px;
  background: #fff;
  box-sizing: border-box;
}

.set_order .item_order:hover {
  border-color: #a5adba;
}

.set_order .item_order:after {
  display: block;
  clear: both;
  content: "";
}

.set_order .wrap_drag {
  position: relative;
  float: left;
  margin: 10px 8px 0 20px;
  padding: 10px;
}

.bundle_item .wrap_drag.wrap_all {
  margin-left: -10px;
}

.set_order .wrap_name {
  float: left;
  width: 320px;
  margin-right: 10px;
}

.set_order .txt_name {
  float: left;
  overflow: hidden;
  width: auto;
  max-width: 260px;
  margin-top: 16.6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.set_order .txt_count {
  float: left;
  margin: 16px 0 0 6px;
  font-size: 13px;
  color: #808080;
}

.set_order .txt_cate {
  float: left;
  width: 150px;
  margin-top: 16px;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.set_order .txt_cate::before {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-right: 15px;
  background: #d8dee4;
  vertical-align: top;
  content: "";
}

.item_order .info_btn {
  display: none;
  float: right;
  margin: 14px 0 0;
}

.item_order:hover .info_btn {
  display: block;
}

.item_order .btn_post {
  display: none;
}

.blog_category .info_btn .btn_post {
  float: left;
  width: 38px;
  height: 23px;
  margin: 0 0 0 4px;
  padding: 5px 0 0;
  font-size: 12px;
}

.item_order:hover .btn_post {
  display: inline-block;
}

/* .info_btn .btn_post {
  border: 1px solid #c5cdd7;
  float: left;
  width: 38px;
  height: 23px;
  margin: 0 0 0 4px;
  padding: 5px 0 0;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  vertical-align: top;
} */

.set_order .btn_wrap_add {
  border: 1px dotted #acb3bf;
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: none;
  color: #808080;
}

.set_order .btn_wrap_add:hover {
  border-color: #828c9b;
  color: black;
}

.wrap_set .set_btn {
  overflow: hidden;
  margin: 0 -29px;
  padding: 12px 29px 12px;
  border-top: 1px solid #f1f3f6;
  background: #fafbfc;
}

.set_btn .btn_save {
  float: right;
  width: 158px;
  height: 38px;
  font-size: 13.5px;
  line-height: 40px;
  border-radius: 1px;
  border: 1px solid #333;
  color: #fff;
  background: #333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  box-sizing: content-box;
}

.set_btn .btn_save:hover {
  border-color: #505050;
  background: #505050;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23);
}

.set_btn .btn_save.btn_off {
  background: #fff;
  border-color: #e0e5ee;
  color: #959595;
  box-shadow: none;
  cursor: not-allowed;
}

.item_order .edit_item .tf_blog {
  width: 300px;
  height: 24px;
  padding: 6px 14px 8px;
  border: 1px solid #c5cdd7;
  font-size: 14px;
  box-sizing: content-box;
  outline: none;
  vertical-align: top;
  float: left;
  margin: 5px 20px 0 30px;
}

.edit_item .order_btn {
  float: right;
  margin-top: 9px;
}

.order_btn .btn_cancel {
  float: left;
  width: 76px;
  height: 30px;
  line-height: 30px;
  border-radius: 1px;
  border: 1px solid #c5cdd7;
  background: #fff;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-sizing: content-box;
}

.order_btn .btn_cancel:hover {
  border-color: #a5adba;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}

.order_btn .btn_default {
  display: inline-block;
  width: 76px;
  height: 30px;
  border: 1px solid #333;
  line-height: 30px;
  color: #fff;
  background: #333;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  box-sizing: content-box;
  margin-left: 4px;
}

.order_btn .btn_default:hover {
  background: #505050;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23);
}

.order_btn .btn_default.btn_off {
  background: #fff;
  border-color: #e0e5ee;
  color: #959595;
  box-shadow: none;
  cursor: not-allowed;
}

.edit_item .opt_blog {
  float: left;
  margin-top: 13px;
  font-size: 13px;
}

.edit_item .opt_blog > .layer_opt {
  left: -19px;
}

/* .edit_item .list_opt li input {
  width: 100%;
  text-align: left;
  padding: 3px 24px 4px 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: none;
} */

.set_order .edit_item:after {
  display: block;
  clear: both;
  content: "";
}

.set_order .ico_drag {
  display: block;
  width: 12px;
  height: 10px;
  background-position: 0 -400px;
}

.set_order .ico_all {
  width: 10px;
  height: 10px;
  /* background-position: -280px -30px; */
}

.set_order .wrap_all .ico_drag {
  background-position: -60px -400px;
}
