* {
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  min-height: 750px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
}

button,
select {
  cursor: pointer;
  outline: none;
}

button {
  background: transparent;
  border: none;
}

#dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.43);
}

.ico_blog {
  display: inline-block;
  overflow: hidden;
  background: url(//t1.daumcdn.net/tistory_admin/static/manage/images/r1/ico_tistory_200512.png)
    no-repeat;
  vertical-align: top;
  text-indent: -9999px;
}

button:disabled {
  cursor: no-drop;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.blind {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: -1px;
  width: 0px;
  height: 0px;
  top: -9999px;
  font-size: 0;
}

.sp_img {
  background-image: url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png);
  background-repeat: no-repeat;
}

.clear:after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

.fl {
  float: left;
}

.fr {
  float: right;
}

caption {
  position: relative;
  width: 0px;
  height: 0px;
  font-size: 0;
  line-height: 0;
  z-index: -1;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}
